/* Sono font  */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;600&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Sono' , sans-serif;
}
body{
	height: 100vh;
	position: relative;
	top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	background-color: #1c1c1c;
}

header > h1{
	color: gold;
	text-transform: capitalize;
}
header > p{
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}

main{
	display: flex;
	flex-direction: column;
}
#in-screen-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	text-align: center;
}
#in-screen-1 > label{
	color: white;
	font-size: 25px;
	font-weight: 600;	
	line-height: 35px;
}
#in-screen-1 > input{
	padding: 4px 8px;
	width: 150px;

	background-color: transparent;
	border: 1.5px solid white;

	color: gold;
	font-size: 25px;
	font-weight: 600;	
	line-height: 35px;
	text-align: center;
}
/* removing incresing & decreasing button from input[type = number] */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* Submit button styles for both input screen */
.btn-submit{
	padding: 10px 20px;

	border: 2px solid gold;
	border-radius: 20px;

	color: maroon;
	font-size: 25px;
	font-weight: 500;	
	text-transform: capitalize;	

	cursor: pointer;
}
.btn-submit:hover{
	border: 2px solid rgba(255, 215, 0, 0.5);
	transform: scale(1.025);

	color: rgb(178, 0, 0);
}

#in-screen-2{
	
}

#op-screen-1{
	
}
